In [1]:
import sqlite3

In [ ]:
# we are connectin with server which is our local system

In [3]:
db=sqlite3.connect("ineuron.db")    # creating .db file to store data into table format

In [12]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 44A5-598D

 Directory of C:\Users\aakas\Documents\INeuron\SQL_ineuron

30-11-2022  12:14    <DIR>          .
30-11-2022  12:14    <DIR>          ..
30-11-2022  11:56    <DIR>          .ipynb_checkpoints
27-11-2022  19:48            51,867 car.data
30-11-2022  11:37           628,633 carbon_nanotubes.csv
26-11-2022  16:03            11,903 glass.data
30-11-2022  12:12             8,192 ineuron.db
30-11-2022  12:14                 0 ineuron.db-journal
29-11-2022  17:31            28,326 mongodb day-1.ipynb
30-11-2022  11:48            28,854 mongodb day-2.ipynb
30-11-2022  12:13             3,077 SQL_lite-1.ipynb
26-11-2022  17:18            89,376 sql-1.ipynb
28-11-2022  00:06           774,328 sql-2.ipynb
              10 File(s)      1,624,556 bytes
               3 Dir(s)  222,971,084,800 bytes free

In [7]:
c=db.cursor()    # creating pointer (cursor)

In [9]:
c.execute("create table fsds(name text, batchid int, marks real)")

In [11]:
c.execute("insert into fsds values('sudh',3245,456.87)")  # this one create new filr -journal

In [14]:
c.execute("insert into fsds values('sudh',3245,456.87)")
c.execute("insert into fsds values('sudh',3245,456.87)")

In [16]:
c.execute("insert into fsds values('sudh',3245,456.87)")
c.execute("insert into fsds values('sudh',3245,456.87)")

In [17]:
data=c.execute("select * from fsds")

In [18]:
for i in data:
    print(i)

('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)

In [19]:
db.commit()

In [21]:
db.close()  # close the file and connection

In [23]:
db=sqlite3.connect("ineuron.db")

In [24]:
c=db.cursor()

In [26]:
data=c.execute("select * from fsds where marks>400")

In [27]:
for i in data:
    print(i)

('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)
('sudh', 3245, 456.87)

In [29]:

data=c.execute("select * from fsds where name='aakash'")

In [30]:
for i in data:
    print(i)

In [31]:
data=c.execute("select name from fsds ")

In [32]:
for i in data:
    print(i)

('sudh',)
('sudh',)
('sudh',)
('sudh',)
('sudh',)
('sudh',)
('sudh',)

In [33]:
db.close()

In [ ]:
# creating new database

In [34]:
db1=sqlite3.connect("person.db")

In [35]:
c=db1.cursor()

In [39]:
c.execute("create table person(name test, email_id test, age int , salary real)")

In [40]:
c.execute("insert into person values('sudh','sudhansu@123',30,23425)")

In [41]:
c.execute("insert into person values('akash','akash@123',23,23425)")
c.execute("insert into person values('hm','hm@123',22,23425)")
c.execute("insert into person values('swaraj','swaraj@123',20,23425)")
c.execute("insert into person values('veera','veera@123',8,23425)")

In [42]:
data=c.execute("select * from person")

In [43]:
for i in data:
    print(i)

('sudh', 'sudhansu@123', 30, 23425.0)
('akash', 'akash@123', 23, 23425.0)
('hm', 'hm@123', 22, 23425.0)
('swaraj', 'swaraj@123', 20, 23425.0)
('veera', 'veera@123', 8, 23425.0)

In [45]:
db1.commit()

In [46]:
db1.close()

In [47]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 44A5-598D

 Directory of C:\Users\aakas\Documents\INeuron\SQL_ineuron

30-11-2022  12:33    <DIR>          .
30-11-2022  12:33    <DIR>          ..
30-11-2022  11:56    <DIR>          .ipynb_checkpoints
27-11-2022  19:48            51,867 car.data
30-11-2022  11:37           628,633 carbon_nanotubes.csv
26-11-2022  16:03            11,903 glass.data
30-11-2022  12:18             8,192 ineuron.db
29-11-2022  17:31            28,326 mongodb day-1.ipynb
30-11-2022  11:48            28,854 mongodb day-2.ipynb
30-11-2022  12:33             8,192 person.db
30-11-2022  12:33            11,243 SQL_lite-1.ipynb
26-11-2022  17:18            89,376 sql-1.ipynb
28-11-2022  00:06           774,328 sql-2.ipynb
              10 File(s)      1,640,914 bytes
               3 Dir(s)  222,969,057,280 bytes free

In [50]:
db=sqlite3.connect("ineuron.db")

In [51]:
c=db.cursor()

In [52]:
c.execute("drop table fsds")

In [53]:
c.execute("select * from fsds")

OperationalError: no such table: fsds

In [54]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 44A5-598D

 Directory of C:\Users\aakas\Documents\INeuron\SQL_ineuron

30-11-2022  12:35    <DIR>          .
30-11-2022  12:35    <DIR>          ..
30-11-2022  11:56    <DIR>          .ipynb_checkpoints
27-11-2022  19:48            51,867 car.data
30-11-2022  11:37           628,633 carbon_nanotubes.csv
26-11-2022  16:03            11,903 glass.data
30-11-2022  12:35             8,192 ineuron.db
29-11-2022  17:31            28,326 mongodb day-1.ipynb
30-11-2022  11:48            28,854 mongodb day-2.ipynb
30-11-2022  12:33             8,192 person.db
30-11-2022  12:35            12,739 SQL_lite-1.ipynb
26-11-2022  17:18            89,376 sql-1.ipynb
28-11-2022  00:06           774,328 sql-2.ipynb
              10 File(s)      1,642,410 bytes
               3 Dir(s)  222,977,306,624 bytes free

In [56]:
db1.close()

In [57]:
db=sqlite3.connect("person.db")

In [58]:
c=db.cursor()

In [60]:
data=c.execute("select * from person limit 2")

In [61]:
for i in data:
    print(i)

('sudh', 'sudhansu@123', 30, 23425.0)
('akash', 'akash@123', 23, 23425.0)

In [62]:
db.close()

In [63]:
db=sqlite3.connect("jobdb.db")

In [64]:
c=db.cursor()

In [65]:
c.execute("create table student(student_id int, student_name text,student_mail test,marks int)")

In [67]:
c.execute("create table address(student_id int , pincode int , location text, nearby text, phone_no int)")

In [71]:
c.execute("insert into student values(101,'aakash','aakashsolanke99@',234)")
c.execute("insert into student values(102,'swaraj','swarajsolanke99@',234)")
c.execute("insert into student values(103,'amruta','aakashsolanke99@',234)")
c.execute("insert into student values(104,'ankita','aakashsolanke99@',234)")
c.execute("insert into student values(105,'aniket','aakashsolanke99@',234)")
c.execute("insert into student values(106,'hemlata','aakashsolanke99@',234)")
c.execute("insert into student values(105,'shivani','aakashsolanke99@',234)")
c.execute("insert into student values(106,'veera','aakashsolanke99@',234)")

In [75]:
c.execute("insert into address values(255,423002,'withefiled','ineuron_office',234235647)")

In [88]:
c.execute("insert into address values(255,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(101,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(102,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(258,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(259,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(104,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(105,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(262,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(108,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(264,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(265,423002,'withefiled','ineuron_office',234235647)")
c.execute("insert into address values(266,423002,'withefiled','ineuron_office',234235647)")

In [89]:
data=c.execute("select * from address")

In [90]:
for i in data:
    print(i)

(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(256, 423002, 'withefiled', 'ineuron_office', 234235647)
(257, 423002, 'withefiled', 'ineuron_office', 234235647)
(258, 423002, 'withefiled', 'ineuron_office', 234235647)
(259, 423002, 'withefiled', 'ineuron_office', 234235647)
(260, 423002, 'withefiled', 'ineuron_office', 234235647)
(261, 423002, 'withefiled', 'ineuron_office', 234235647)
(262, 423002, 'withefiled', 'ineuron_office', 234235647)
(263, 423002, 'withefiled', 'ineuron_office', 234235647)
(264, 423002, 'withefiled', 'ineuron_office', 234235647)
(265, 423002, 'withefiled', 'ineuron_office', 234235647)
(266, 423002, 'withefiled', 'ineuron_office', 234235647)
(255, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 423002, 'withefiled', 'ineuron_office', 234235647)
(102, 423002, 'withefiled', 'ineuron_office', 234235647)
(258, 423002, 'withefiled', 'ineuron_office', 234235647)
(259, 423002, 'withefiled', 'ineuron_office', 234235647)
(104, 423002, 'withefiled', 'ineuron_office', 234235647)
(105, 423002, 'withefiled', 'ineuron_office', 234235647)
(262, 423002, 'withefiled', 'ineuron_office', 234235647)
(108, 423002, 'withefiled', 'ineuron_office', 234235647)
(264, 423002, 'withefiled', 'ineuron_office', 234235647)
(265, 423002, 'withefiled', 'ineuron_office', 234235647)
(266, 423002, 'withefiled', 'ineuron_office', 234235647)

In [91]:
for i in c.execute("select * from student"):
    print(i)

(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(102, 'swaraj', 'swarajsolanke99@', 234)
(103, 'amruta', 'aakashsolanke99@', 234)
(104, 'ankita', 'aakashsolanke99@', 234)
(105, 'aniket', 'aakashsolanke99@', 234)
(106, 'hemlata', 'aakashsolanke99@', 234)
(105, 'shivani', 'aakashsolanke99@', 234)
(106, 'veera', 'aakashsolanke99@', 234)

In [92]:
data=c.execute("select * from student s left join address a on s.student_id=a.student_id ")

In [93]:
for i in data:   # it gives valuse from left table that is student and the vales which are present match to student 
                  # id fron table address 
                     
    print(i)

(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(101, 'aakash', 'aakashsolanke99@', 234, 101, 423002, 'withefiled', 'ineuron_office', 234235647)
(102, 'swaraj', 'swarajsolanke99@', 234, 102, 423002, 'withefiled', 'ineuron_office', 234235647)
(103, 'amruta', 'aakashsolanke99@', 234, None, None, None, None, None)
(104, 'ankita', 'aakashsolanke99@', 234, 104, 423002, 'withefiled', 'ineuron_office', 234235647)
(105, 'aniket', 'aakashsolanke99@', 234, 105, 423002, 'withefiled', 'ineuron_office', 234235647)
(106, 'hemlata', 'aakashsolanke99@', 234, None, None, None, None, None)
(105, 'shivani', 'aakashsolanke99@', 234, 105, 423002, 'withefiled', 'ineuron_office', 234235647)
(106, 'veera', 'aakashsolanke99@', 234, None, None, None, None, None)

In [97]:
data=c.execute("select * from address s left join student a on s.student_id=a.student_id ")

In [98]:
for i in data:
    print(i)

(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(256, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(257, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(258, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(259, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(260, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(261, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(262, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(263, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(264, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(265, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(266, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(255, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(101, 423002, 'withefiled', 'ineuron_office', 234235647, 101, 'aakash', 'aakashsolanke99@', 234)
(102, 423002, 'withefiled', 'ineuron_office', 234235647, 102, 'swaraj', 'swarajsolanke99@', 234)
(258, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(259, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(104, 423002, 'withefiled', 'ineuron_office', 234235647, 104, 'ankita', 'aakashsolanke99@', 234)
(105, 423002, 'withefiled', 'ineuron_office', 234235647, 105, 'aniket', 'aakashsolanke99@', 234)
(105, 423002, 'withefiled', 'ineuron_office', 234235647, 105, 'shivani', 'aakashsolanke99@', 234)
(262, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(108, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(264, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(265, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)
(266, 423002, 'withefiled', 'ineuron_office', 234235647, None, None, None, None)

In [99]:
for i in c.execute("select * from student"):
    print(i)

(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(102, 'swaraj', 'swarajsolanke99@', 234)
(103, 'amruta', 'aakashsolanke99@', 234)
(104, 'ankita', 'aakashsolanke99@', 234)
(105, 'aniket', 'aakashsolanke99@', 234)
(106, 'hemlata', 'aakashsolanke99@', 234)
(105, 'shivani', 'aakashsolanke99@', 234)
(106, 'veera', 'aakashsolanke99@', 234)

In [100]:
c.execute("delete from student where student_id > 106 ")

In [101]:
for i in c.execute("select * from student"):
    print(i)

(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(101, 'aakash', 'aakashsolanke99@', 234)
(102, 'swaraj', 'swarajsolanke99@', 234)
(103, 'amruta', 'aakashsolanke99@', 234)
(104, 'ankita', 'aakashsolanke99@', 234)
(105, 'aniket', 'aakashsolanke99@', 234)
(106, 'hemlata', 'aakashsolanke99@', 234)
(105, 'shivani', 'aakashsolanke99@', 234)
(106, 'veera', 'aakashsolanke99@', 234)

In [103]:
data=c.execute("update student set student_id = 200 where student_id=101 ")

In [106]:
data=c.execute("select * from student")

In [107]:
data.fetchall()

[(200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (200, 'aakash', 'aakashsolanke99@', 234),
 (102, 'swaraj', 'swarajsolanke99@', 234),
 (103, 'amruta', 'aakashsolanke99@', 234),
 (104, 'ankita', 'aakashsolanke99@', 234),
 (105, 'aniket', 'aakashsolanke99@', 234),
 (106, 'hemlata', 'aakashsolanke99@', 234),
 (105, 'shivani', 'aakashsolanke99@', 234),
 (106, 'veera', 'aakashsolanke99@', 234)]

In [108]:
db.close()

## Map

In [109]:
l=[1,2,3,4,5,6]

In [110]:
l1=[]
for i in l:
    l1.append(i+5)

In [111]:
l1

[6, 7, 8, 9, 10, 11]

In [112]:
[i+5 for i in l ]

[6, 7, 8, 9, 10, 11]

In [115]:
def test(a):
    return a+5

In [117]:
list(map(test,l))    # one by one data from list l will pass to function test

[6, 7, 8, 9, 10, 11]

In [118]:
l1=["12","123","345","657"]

In [119]:
def test1(a):
    return int(a)

In [120]:
list(map(test1,l1))    # map alwyas takes function as first arrguments and list as second arrgument

[12, 123, 345, 657]

In [121]:
list(map(lambda x : int(x), l1))

[12, 123, 345, 657]

In [125]:
list(map(lambda x :x+5, l))

[6, 7, 8, 9, 10, 11]

# filter

In [129]:
l=[4,5,6,7,8,32,34]

In [137]:
def test2(a):
    if a%2==0:
        return True

In [138]:
list(filter(test2,l))  # filter return only those item which condition is true or retun true

[4, 6, 8, 32, 34]

In [139]:
list(filter(lambda x:x%2==0,l))

[4, 6, 8, 32, 34]

In [140]:
list(filter(lambda x:x%2!=0,l))

[5, 7]

# reduce

In [141]:
from functools import reduce

In [142]:
l=[3,4,5,6,7,8,9,1]

In [144]:
def test4(a,b):
    return a+b

In [146]:
(reduce(test4,l))

43

In [147]:
reduce(lambda x,y:x+y,l)

43

In [148]:
# it work with one element and it consider second as zero

In [149]:
reduce(lambda x,y:x*y,l)

181440

In [150]:
reduce(lambda x,y:x/y,l)

4.96031746031746e-05

# zip

In [158]:
l=[1,2,3,4,5,6,9]
l1=[4,5,6,7,8,9,88]
l2=["sudh","kumar","krish","sunny"]

In [159]:
list(zip(l,l1,l2))    # return tuple of element having same index

[(1, 4, 'sudh'), (2, 5, 'kumar'), (3, 6, 'krish'), (4, 7, 'sunny')]

In [ ]:
#zip retun only smallest list index

# task

- dataset- https://archive.ics.uci.edu/ml/machine-learning-databases/bag-of-words
- q1 = try to find out count of each any every word in a respective file return a list of tuple with wordand its respective            count sample example - [('sudh':6),('kumar':3)]
- q1 = try to perform a reduce operation to get a count of all the word staring with same alphabet 
        sample ex:- [(a,23),(b:24),....]
- q3 = try to filter out all the words from dataset 
        id .001.abstract = abstract delete .001
- q2 = cerate a tuple set of all records avaiable in all the file and then store in sqlite DB
       (aah ,>=,fsds,wer)